@model List<SISTEMA_DE_CURSOS_MVC.Models.Curso>

<H2>Cursos</H2>

< a asp-action = "Criar" class="btn btn-primary">Novo Curso</a>

<table class="table mt-3">
<tr>
<th>Nome</th>
<th>Tipo de Curso</th>
<th>Quantidade de horas</th>
<th> Preço Calculado</th>
<th>Ações</th>
</tr>

@foreach(var curso  in Model){
    <tr>
    <td>@curso.Nome</td>
    <td>@curso.GetType().Name</td> 
    <td>@curso.Horas</td>~
    <td>@curso.CalcularPreco()</td>
    <td>
    <a asp-action="Deletar" asp-route-id="@curso.Id" 
    class="btn btn-danger">Excluir</a>
    
    </td>
    
    </tr>
}


</table>